</head>
<<<<<<< HEAD
<body>
  <nav>
		<i class="fas fa-film fa-2x"></i>  
    <a 
      href="/movies/new" <%- title === 'Add Movie' ? 'class="active"' : '' %>
    >
      ADD MOVIE
    </a>
    <a 
      href="/movies" <%- title === 'All Movies' ? 'class="active"' : '' %>
    >
      ALL MOVIES
=======

<body>
  <nav>
    <i class="fas fa-film fa-2x"></i>
    <a href="/movies/new" <%- title==='Add Movie' ? 'class="active"' : '' %>
      >
      ADD MOVIE
    </a>
    <a href="/movies" <%- title==='All Movies' ? 'class="active"' : '' %>
      >
      All MOVIES
>>>>>>> 357b23c86ad41b2fedf42a801e36e4072f372b00
    </a>
  </nav>